body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Light grey background */
    color: #333; /* Dark grey text for better readability */
  }
  
  header {
    background-color: #003366; /* A nice dark blue */
    color: #ffffff; /* White text for contrast */
    padding: 20px 0; /* Padding for spacing */
    text-align: center; /* Centering the text */
  }
  
  h1 {
    margin-top: 10px; /* Space from the options */
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 5%;
    width: 90%;
    background-color: #e9f5ff; /* Light blue background for the bubble */
    border-radius: 15px; /* Rounded corners for bubble effect */
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2); /* Soft shadow for depth */
    font-style: italic;
    color: #333;
    margin-bottom: 10px;
  }
  
  #subheader {
    margin-top: 10px; /* Space from the options */
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 12.5%;
    width: 75%;
    background-color: #e9f5ff; /* Light blue background for the bubble */
    border-radius: 15px; /* Rounded corners for bubble effect */
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2); /* Soft shadow for depth */
    font-style: italic;
    color: #333;
    margin-bottom: 10px;
  }
  
  #mastermenu {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2); /* Soft shadow for depth */
    font-size: 1em; /* Standard font size for sections */
    font-weight: normal; /* Normal font weight */
    background-color: #e9f5ff;
    color: #333;
    margin-top: 10px; 
    padding-top: 5px;
    padding-bottom: 5px;
  }


  #menuitem {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    background-color: #003366;
    color:#e9f5ff;
    padding: 1%;
    text-align: center;
  }
  
  #menulink {
    color:#e9f5ff;
  }

  #menuitem:hover {
    background-color: #eeeeee;
    color: #003366;
  }
  